<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="wsgiModule" resource="Unspecified" />
        </handlers>
        <wsgiModules>
            <add name="wsgiModule" displayName="WSGI Module" />
        </wsgiModules>
        <wsgi>
            <module name="object_detection.app:app" />
        </wsgi>
    </system.webServer>
</configuration>